body{
    font-family: Arial, Helvetica, sans-serif;
}
.back{
    display:flex;
    width:34rem;
    margin: 0 28rem;
}

/*-------left side--------*/
.ylw-blk{
    height:47rem;
    width:45%;
}
.ylww{
        background-color: rgb(244,214,68);
        height:12%;
}
.blk{
    background-color: rgb(41,45,45);
    height:88%;
    color:white;
}
.cont{
    padding:9rem 1.2rem 0 1.2rem;
}
.cont h1{
    font-size:1rem;
}
.cont i{
    height:1.7rem;
    line-height: 1.7rem;
    width:1.35rem;
    color: rgb(41,45,45);
    background-color: rgb(244,214,68);
    border-left: 0.35rem solid rgb(244,214,68);
    border-radius: 50%;
    margin:0.2rem 0;
}
.cont p{
    font-size: 0.8rem;
    display:inline;
    color: white;
    padding: 0 0.2rem;
}
.cont a{
    text-decoration: none;
    color:white;
}
.per-skil{
    font-size:0.5rem;
    padding: 1rem 1.2rem 0 1.2rem;
}
.per-skil li{
    position:relative;
    font-size:0.9rem;
    padding: 0.2rem 0;
    left:-0.7rem;
}
.langu{
    font-size:0.5rem;
    padding: 1rem 1.2rem 0 1.2rem;
}
.langu p{
    font-size:0.9rem;
}
.bar1{
    /*background-color: pink;*/
    display:flex;
    margin:-15px 1rem;
}
.ybar1{
    position:relative;
    height:0.3rem;
    width:5.5rem;
    background-color:rgb(244,214,68);
    left:1.4rem;
    top:1.3rem;
    border-radius:20%;

}
.wbar1{
    position:relative;
    height:0.2rem;
    width:1.5rem;
    background-color:white;
    left:1.4rem;
    top:1.35rem;
}
.bar2{
    /*background-color: grey;*/
    display:flex;
    margin:-15px 1rem;
}
.ybar2{
    position:relative;
    height:0.3rem;
    width:6rem;
    background-color:rgb(244,214,68);
    left:1.5rem;
    top:1.3rem;
    border-radius:20%;
}
.wbar2{
    position:relative;
    height:0.2rem;
    width:1rem;
    background-color:white;
    left:1.5rem;
    top:1.35rem;
}
.bar3{
    display:flex;
    margin:-15px 1rem;
}
.ybar3{
    position:relative;
    height:0.3rem;
    width:5rem;
    background-color:rgb(244,214,68);
    left:2.3rem;
    top:1.3rem;
    border-radius:20%;

}
.wbar3{
    position:relative;
    height:0.2rem;
    width:2rem;
    background-color:white;
    left:2.3rem;
    top:1.35rem;
}
.ref{
    font-size:0.5rem;
    padding: 1rem 1.2rem;
}

/*------right side--------*/
.ylw-wht{
    height:47rem;
    width:55%;
    margin:0;
}
.ylw{
    background-color:rgb(244,214,68);
    height:42%;
}
#fname{
    padding:4.5rem 1.2rem 0 1.2rem;
    font-size:2.2rem;
    font-weight: 900;
}
#fname h1{
    font-size:2.3rem;
    font-weight:normal;
    margin-top:0;
    margin-bottom:0.5rem;
}
#fname p{
    font-size:0.75rem;
    font-weight:600;
    margin-top:0;
}
#abt{
    padding:0.1rem 1.2rem;
}
#abt h1{
    font-size:0.9rem;
}
#abt p{
    font-size:0.8rem;
    color:rgb(85, 83, 83);
}
.wht{
    background-color: whitesmoke;
    height:58%;
    padding:0 1.2rem;
    position:relative;
    top:-0.65rem;
}
.educ{
}
.educ h1{
    padding-top:1rem;
    font-size:1rem;
}
.educ h2{
    font-size:0.8rem;

}
.educ ul{
    margin:0;
}
.educ li{
    margin-top:0;
    font-size:0.7rem;
    position:relative;
    left:-1rem;
    top:-0.7rem;
}
.proj h1{
    font-size:1rem;
}
.proj h2{
    margin-top:0.4rem;
    font-size:0.8rem;
}
.proj ul{
    margin:0;
}
.proj li{
    margin-top:0;
    font-size:0.7rem;
    position:relative;
    left:-1rem;
    top:-0.7rem;
}